*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-size: 16px;
    scroll-padding-top: 150px;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ded9df;
}

#footer{
    background-color: #c868db;
    color: #350336;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.container-footer {
    display: flex;
    align-items: center;
}

.icon {
    height: auto;
    width: 35px;
    cursor: pointer;
}